@model HomeViewModel
<section class="content">
    <header class="content-header">
        <span>Página Inicial</span>

        <div>
            <a href="" class="forFollow">Para você</a>
            <a href="" class="forFollowing">Seguindo</a>
        </div>
    </header>
    <div class="tweet">
        <div class="left-column">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Usuario.ImagemPerfil)" alt="profile" class="profile-img" />
        </div>
        <div class="right-column">
            <form style="position: relative; " asp-controller="Home" asp-action="Tweetar" id="tweetForm" class="top-row" method="post" enctype="multipart/form-data">
                <textarea asp-for="Tweet.Conteudo" id="tweetTxtArea" placeholder="O que está acontecendo?" rows="1" cols="50" oninput="autoExpand(this)" maxlength="280"></textarea>
                <img style="display: none; margin-bottom: 10px" class="imagem" id="imagem-preview" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_200x200.png">
                <div id="close" class="close-img" style="display: none;">
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <g>
                            <path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path>
                        </g>
                    </svg>
                </div>
                <div class="bottom-row">
                    <div class="buttons">
                        <label>
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path d="M3 5.5C3 4.119 4.119 3 5.5 3h13C19.881 3 21 4.119 21 5.5v13c0 1.381-1.119 2.5-2.5 2.5h-13C4.119 21 3 19.881 3 18.5v-13zM5.5 5c-.276 0-.5.224-.5.5v9.086l3-3 3 3 5-5 3 3V5.5c0-.276-.224-.5-.5-.5h-13zM19 15.414l-3-3-5 5-3-3-3 3V18.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-3.086zM9.75 7C8.784 7 8 7.784 8 8.75s.784 1.75 1.75 1.75 1.75-.784 1.75-1.75S10.716 7 9.75 7z"></path>
                                </g>
                            </svg>
                            <input type="file" id="imagem" name="imagem" accept=".jpg, .jpeg, .png" onchange="previewImagem(this); " hidden />
                        </label>
                        <label>
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path d="M3 5.5C3 4.119 4.12 3 5.5 3h13C19.88 3 21 4.119 21 5.5v13c0 1.381-1.12 2.5-2.5 2.5h-13C4.12 21 3 19.881 3 18.5v-13zM5.5 5c-.28 0-.5.224-.5.5v13c0 .276.22.5.5.5h13c.28 0 .5-.224.5-.5v-13c0-.276-.22-.5-.5-.5h-13zM18 10.711V9.25h-3.74v5.5h1.44v-1.719h1.7V11.57h-1.7v-.859H18zM11.79 9.25h1.44v5.5h-1.44v-5.5zm-3.07 1.375c.34 0 .77.172 1.02.43l1.03-.86c-.51-.601-1.28-.945-2.05-.945C7.19 9.25 6 10.453 6 12s1.19 2.75 2.72 2.75c.85 0 1.54-.344 2.05-.945v-2.149H8.38v1.032H9.4v.515c-.17.086-.42.172-.68.172-.76 0-1.36-.602-1.36-1.375 0-.688.6-1.375 1.36-1.375z"></path>
                                </g>
                            </svg>
                        </label>
                        <label>
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path d="M6 5c-1.1 0-2 .895-2 2s.9 2 2 2 2-.895 2-2-.9-2-2-2zM2 7c0-2.209 1.79-4 4-4s4 1.791 4 4-1.79 4-4 4-4-1.791-4-4zm20 1H12V6h10v2zM6 15c-1.1 0-2 .895-2 2s.9 2 2 2 2-.895 2-2-.9-2-2-2zm-4 2c0-2.209 1.79-4 4-4s4 1.791 4 4-1.79 4-4 4-4-1.791-4-4zm20 1H12v-2h10v2zM7 7c0 .552-.45 1-1 1s-1-.448-1-1 .45-1 1-1 1 .448 1 1z"></path>
                                </g>
                            </svg>
                        </label>
                        <label>
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path d="M8 9.5C8 8.119 8.672 7 9.5 7S11 8.119 11 9.5 10.328 12 9.5 12 8 10.881 8 9.5zm6.5 2.5c.828 0 1.5-1.119 1.5-2.5S15.328 7 14.5 7 13 8.119 13 9.5s.672 2.5 1.5 2.5zM12 16c-2.224 0-3.021-2.227-3.051-2.316l-1.897.633c.05.15 1.271 3.684 4.949 3.684s4.898-3.533 4.949-3.684l-1.896-.638c-.033.095-.83 2.322-3.053 2.322zm10.25-4.001c0 5.652-4.598 10.25-10.25 10.25S1.75 17.652 1.75 12 6.348 1.75 12 1.75 22.25 6.348 22.25 12zm-2 0c0-4.549-3.701-8.25-8.25-8.25S3.75 7.451 3.75 12s3.701 8.25 8.25 8.25 8.25-3.701 8.25-8.25z"></path>
                                </g>
                            </svg>
                        </label>
                        <label>
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path d="M6 3V2h2v1h6V2h2v1h1.5C18.88 3 20 4.119 20 5.5v2h-2v-2c0-.276-.22-.5-.5-.5H16v1h-2V5H8v1H6V5H4.5c-.28 0-.5.224-.5.5v12c0 .276.22.5.5.5h3v2h-3C3.12 20 2 18.881 2 17.5v-12C2 4.119 3.12 3 4.5 3H6zm9.5 8c-2.49 0-4.5 2.015-4.5 4.5s2.01 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.01-4.5-4.5-4.5zM9 15.5C9 11.91 11.91 9 15.5 9s6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5S9 19.09 9 15.5zm5.5-2.5h2v2.086l1.71 1.707-1.42 1.414-2.29-2.293V13z"></path>
                                </g>
                            </svg>
                        </label>
                    </div>
                    <button id="tweetBtn" type="submit" class="tweet-btn">Tweetar</button>
                    @TempData["Erro"]
                </div>
            </form>
        </div>
    </div>

    @foreach (Tweet tweet in Model.Tweets)
    {
        <a href="@Url.Action("Index", "Post", new { tweetId = tweet.Id})" class="post" style="position: relative;" id="p-@tweet.Id" >
            <div class="left-column">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(tweet.Usuario.ImagemPerfil)" alt="profile" class="profile-img" />
            </div>
            <div class="right-column">
                <article class="top-row">
                    <header class="post-header">
                        <div>
                            <strong>
                                <span>@(tweet.Usuario.Nome)</span>
                            </strong>
                            <span class="tag">&#64@(tweet.Usuario.Tag)</span>
                            <span class="dot">.</span>
                            <span id="time" class="time">@tweet.TempoDecorrido()</span>
                        </div>
                        <div>
                            <svg viewBox="0 0 24 24" class="details" data-div-id="@tweet.Id" onclick="openModal(this)">
                                <g>
                                    <circle cx="5" cy="12" r="2"></circle>
                                    <circle cx="12" cy="12" r="2"></circle>
                                    <circle cx="19" cy="12" r="2"></circle>
                                </g>
                            </svg>
                        </div>
                    </header>
                    <p style="max-width: 500px; word-wrap: break-word;">@tweet.Conteudo</p>
                    @if (tweet.Imagem != null)
                    {
                        <img style="width: 99%;margin-top: 15px;" class="imagem" id="imagem-preview" src="data:image/jpeg;base64,@Convert.ToBase64String(tweet.Imagem)">
                    }
                </article>
                <div class="bottom-row">
                    <div>
                        <div>
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path d="M1.751 10c0-4.42 3.584-8 8.005-8h4.366c4.49 0 8.129 3.64 8.129 8.13 0 2.96-1.607 5.68-4.196 7.11l-8.054 4.46v-3.69h-.067c-4.49.1-8.183-3.51-8.183-8.01zm8.005-6c-3.317 0-6.005 2.69-6.005 6 0 3.37 2.77 6.08 6.138 6.01l.351-.01h1.761v2.3l5.087-2.81c1.951-1.08 3.163-3.13 3.163-5.36 0-3.39-2.744-6.13-6.129-6.13H9.756z"></path>
                                </g>
                            </svg>
                        </div>
                        <span>@tweet.Comentarios</span>
                    </div>
                    <div>
                        <div>
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path d="M4.5 3.88l4.432 4.14-1.364 1.46L5.5 7.55V16c0 1.1.896 2 2 2H13v2H7.5c-2.209 0-4-1.79-4-4V7.55L1.432 9.48.068 8.02 4.5 3.88zM16.5 6H11V4h5.5c2.209 0 4 1.79 4 4v8.45l2.068-1.93 1.364 1.46-4.432 4.14-4.432-4.14 1.364-1.46 2.068 1.93V8c0-1.1-.896-2-2-2z"></path>
                                </g>
                            </svg>

                        </div>
                        <span>@tweet.Retweets</span>
                    </div>
                    <form asp-action="Curtir" asp-controller="Home" method="post" id="curtir">
                        <input hidden name="tweetId" value="@tweet.Id">
                        <button style="border: none;">
                            <div>
                                @if (Model.Curtidas.Any(x => x.TweetId == tweet.Id))
                                {
                                    <svg style="fill: rgb(224,36,94);" viewBox="0 0 24 24">
                                        <g>
                                            <path d="M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path>
                                        </g>
                                    </svg>
                                }
                                else
                                {
                                    <svg viewBox="0 0 24 24">
                                        <g>
                                            <path d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.30-.504-.30c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.10 4.796-2.01 1.954.10 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path>
                                        </g>
                                    </svg>
                                }

                            </div>
                        </button>
                        @if (Model.Curtidas.Any(x => x.TweetId == tweet.Id))
                        {
                            <span style="color: rgb(224,36,94);">@tweet.Curtidas</span>
                        }
                        else
                        {
                            <span>@tweet.Curtidas</span>
                        }
                    </form>
                    <div>
                        <div style="margin-left: 10px;">
                            <svg viewBox="0 0 24 24">
                                <g>
                                    <path d="M12 2.59l5.7 5.7-1.41 1.42L13 6.41V16h-2V6.41l-3.3 3.3-1.41-1.42L12 2.59zM21 15l-.02 3.51c0 1.38-1.12 2.49-2.5 2.49H5.5C4.11 21 3 19.88 3 18.5V15h2v3.5c0 .28.22.5.5.5h12.98c.28 0 .5-.22.5-.5L19 15h2z"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal" id="m-@tweet.Id" style="display: none;">
                    <div class="modal-content">
                        <div class="modal-line" style="border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            <div>
                                <svg viewBox="0 0 24 24" class="" onclick="">
                                    <g>
                                        <path d="M9.5 7c.828 0 1.5 1.119 1.5 2.5S10.328 12 9.5 12 8 10.881 8 9.5 8.672 7 9.5 7zm5 0c.828 0 1.5 1.119 1.5 2.5s-.672 2.5-1.5 2.5S13 10.881 13 9.5 13.672 7 14.5 7zM12 22.25C6.348 22.25 1.75 17.652 1.75 12S6.348 1.75 12 1.75 22.25 6.348 22.25 12 17.652 22.25 12 22.25zm0-18.5c-4.549 0-8.25 3.701-8.25 8.25s3.701 8.25 8.25 8.25 8.25-3.701 8.25-8.25S16.549 3.75 12 3.75zM8.947 17.322l-1.896-.638C7.101 16.534 8.322 13 12 13s4.898 3.533 4.949 3.684l-1.897.633c-.031-.09-.828-2.316-3.051-2.316s-3.021 2.227-3.053 2.322z"></path>
                                    </g>
                                </svg>
                            </div>
                            <span>Esse tweet não me interessa</span>
                        </div>
                        <div class="modal-line">
                            <div>
                                <svg viewBox="0 0 24 24" class="" onclick="">
                                    <g>
                                        <path d="M10 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM6 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4zm13 4v3h2v-3h3V8h-3V5h-2v3h-3v2h3zM3.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C13.318 13.65 11.838 13 10 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C5.627 11.85 7.648 11 10 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H1.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46z"></path>
                                    </g>
                                </svg>
                            </div>
                            <span>Seguir josemeloph</span>
                        </div>
                        <div class="modal-line">
                            <div>
                                <svg viewBox="0 0 24 24" class="" onclick="">
                                    <g>
                                        <path d="M5.5 4c-.28 0-.5.22-.5.5v15c0 .28.22.5.5.5H12v2H5.5C4.12 22 3 20.88 3 19.5v-15C3 3.12 4.12 2 5.5 2h13C19.88 2 21 3.12 21 4.5V13h-2V4.5c0-.28-.22-.5-.5-.5h-13zM16 10H8V8h8v2zm-8 2h8v2H8v-2zm10 7v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z"></path>
                                    </g>
                                </svg>
                            </div>
                            <span>Adicionar/remover josemeloph das listas</span>
                        </div>
                        <div class="modal-line">
                            <div>
                                <svg viewBox="0 0 24 24" class="" onclick="">
                                    <g>
                                        <path d="M18 6.59V1.2L8.71 7H5.5C4.12 7 3 8.12 3 9.5v5C3 15.88 4.12 17 5.5 17h2.09l-2.3 2.29 1.42 1.42 15.5-15.5-1.42-1.42L18 6.59zm-8 8V8.55l6-3.75v3.79l-6 6zM5 9.5c0-.28.22-.5.5-.5H8v6H5.5c-.28 0-.5-.22-.5-.5v-5zm6.5 9.24l1.45-1.45L16 19.2V14l2 .02v8.78l-6.5-4.06z"></path>
                                    </g>
                                </svg>
                            </div>
                            <span>Silenciar josemeloph</span>
                        </div>
                        <div class="modal-line">
                            <div>
                                <svg viewBox="0 0 24 24" class="" onclick="">
                                    <g>
                                        <path d="M12 3.75c-4.55 0-8.25 3.69-8.25 8.25 0 1.92.66 3.68 1.75 5.08L17.09 5.5C15.68 4.4 13.92 3.75 12 3.75zm6.5 3.17L6.92 18.5c1.4 1.1 3.16 1.75 5.08 1.75 4.56 0 8.25-3.69 8.25-8.25 0-1.92-.65-3.68-1.75-5.08zM1.75 12C1.75 6.34 6.34 1.75 12 1.75S22.25 6.34 22.25 12 17.66 22.25 12 22.25 1.75 17.66 1.75 12z"></path>
                                    </g>
                                </svg>
                            </div>
                            <span>Bloquear josemeloph</span>
                        </div>
                        <div class="modal-line">
                            <div>
                                <svg viewBox="0 0 24 24" class="" onclick="">
                                    <g>
                                        <path d="M8.75 21V3h2v18h-2zM18 21V8.5h2V21h-2zM4 21l.004-10h2L6 21H4zm9.248 0v-7h2v7h-2z"></path>
                                    </g>
                                </svg>
                            </div>
                            <span>Exibir engajamentos com o tweet</span>
                        </div>
                        <div class="modal-line" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                            <div>
                                <svg viewBox="0 0 24 24" class="" onclick="">
                                    <g>
                                        <path d="M3 2h18.61l-3.5 7 3.5 7H5v6H3V2zm2 12h13.38l-2.5-5 2.5-5H5v10z"></path>
                                    </g>
                                </svg>
                            </div>
                            <span>Denunciar tweet</span>
                        </div>
                    </div>
                </div>
            
            <div class="bg" onclick="closeModal(this)" data-bg-id="@tweet.Id" id="bg-@tweet.Id" style="display: none; position: fixed; top:0; bottom: 0; right: 0; left: 0; z-index: 1;"></div>
        </a>
    }
    <div style="height:200px; width: 100%;"></div>
</section>
<aside class="right-side">
    @Html.Partial("_RightSidePartial")
</aside>

<style>
    .post:hover {
        background: none;
    }
    .modal {
        z-index: 2;
        right: 13px;
        position: absolute;
    }
    .modal-content {
        border-radius: 10px;
        background: rgba(21,32,43,1.00);
        box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px;
    }
    .modal-line {
        display: flex;
        padding: 5px 16px 5px 7px;
        align-items: center;
        transition: 0.2s;
    }
    .modal-line:hover {
            background: rgba(255,255,255,0.03);
    }
    .modal-line > div {
        display: flex;
        fill: white;
        color: white;
    }

    .modal-line span{
            font-size: 15px;
            font-weight: 700;
            letter-spacing: -0.2px;
    }
    .modal-line > div svg {
            margin: 8px;
            width: 1.25em;
            height: 1.25em;
        }
    #curtir {
        align-items: center;
        display: flex;
        width: auto;
    }

        #curtir > button {
            background: transparent;
        }

        #curtir div {
            display: flex;
        }


        #curtir:hover div {
            background-color: rgba(224,36,94, 0.2);
            border-radius: 9999px;
        }

            #curtir:hover div svg,
            #curtir:hover span {
                color: rgb(224,36,94);
                fill: currentColor;
            }

    .close-img {
        fill: white;
        backdrop-filter: blur(4px);
        background-color: rgb(15 20 25 / 81%);
        top: 10%;
        right: 1%;
        position: absolute;
        justify-content: center;
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 9999px;
        cursor: pointer;
        transition: 0.2s;
    }

        .close-img svg {
            width: 18px;
        }

        .close-img:hover {
            background-color: rgb(31 40 49 / 72%);
        }


    .forFollow {
        border-bottom: 4px solid rgb(29,161,242);
    }

    .imagem {
        width: 100%;
        border-radius: 17px;
    }
</style>

<script>
    const bgElements = document.getElementsByClassName('bg');

    Array.from(bgElements).forEach(function (element) {
        element.addEventListener('click', function (event) {
            event.preventDefault();
        });
    });


    const detailsElements = document.getElementsByClassName('details');

    Array.from(detailsElements).forEach(function (element) {
        element.addEventListener('click', function (event) {
            event.preventDefault();
        });
    });
    function openModal(div) {
        const divId = div.getAttribute('data-div-id');
        const modal = document.getElementById(`m-${divId}`);
        const bg = document.getElementById(`bg-${divId}`)
        bg.style.display = "flex";
        modal.style.display = "flex";
    }

    function closeModal(div) {
        const divId = div.getAttribute('data-bg-id');
        const modal = document.getElementById(`m-${divId}`);
        const bg = document.getElementById(`bg-${divId}`)
        bg.style.display = "none";
        modal.style.display = "none";
    }

    document.getElementById('close').addEventListener('click', function () {
        document.getElementById('imagem-preview').style.display = "none";
        document.getElementById('close').style.display = "none";
    });

    function previewImagem(input) {
        var imagemPreview = document.getElementById('imagem-preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagemPreview.src = e.target.result;
                imagemPreview.style.display = 'block';
                document.getElementById('close').style.display = "flex";
            }

            reader.readAsDataURL(input.files[0]);
        } else {
            imagemPreview.style.display = 'none';
        }
    }

    function autoExpand(textarea) {
        var maxLength = parseInt(textarea.getAttribute('maxlength'));
        var currentText = textarea.value;

        if (currentText.length > maxLength) {
            textarea.value = currentText.substring(0, maxLength);
        }

        textarea.style.height = "1px";
        textarea.style.height = (textarea.scrollHeight) + "px";
    }

    const textarea = document.getElementById('tweetTxtArea');
    const botao = document.getElementById('tweetBtn');

    textarea.addEventListener('input', function () {
        if (textarea.value.trim() === '') {
            botao.disabled = true;
            botao.style.opacity = "0.5";
            botao.style.cursor = "default";
        } else {
            botao.style.opacity = "0.9";
            botao.disabled = false;
            botao.style.cursor = "pointer";
        }
    });
</script>
